section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

h1 {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin-bottom: 10px;
}

.avatar {
  border-radius: 50%;
}

.arrow {
  color: white;
}

.click-me {
  font-size: 12px;
  color: hsl(0, 0%, 100%);
}
